@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(169, 97, 3, 0.718);
}
.directions {
  height: 40vh;
  overflow-y: auto;
}
.step-card {
  margin-top: 20px;
}
button {
  background-color: transparent;
  border: none;
}
