@import 'bootstrap/dist/css/bootstrap.css';
:root {
  --background-main: #403d39;
  --font-main: #F8F4E3;
  --icon: #eb5e28;
  --border: #252422;
  --accent: #ccc5b9;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto',sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
ul {
  padding: 0px;
  margin: 0px;
}
li {
  list-style: none;
  border-bottom: 2px solid var(--border);
  color: #F5F9E9;
  font-size: 20px;
}
body {
  background-color: var(--background-main);
  color: var(--border);
}
.btn-lg {
  padding:0.4em 2em;
  border:0.16em solid var(--border);
  border-radius: 0.30em;
  background-color: var(--icon);
  margin:0 1em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  text-align:center;
  width: 80vw;
}
.btn-med {
  display:inline-block;
  padding:0.35em .35em;
  border:0.1em solid var(--border);
  margin:0 1em 0.3em 0;
  background-color: var(--icon);
  color: var(--border);
  border-radius:0.30em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  text-align:center;
  transition: all 0.2s;
}
.btn-sm {
  display:inline-block;
  padding:0.35em .35em;
  border:0.1em solid var(--border);
  margin-right: 10px;
  background-color: var(--icon);
  color: var(--border);
  border-radius:0.30em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  text-align:center;
  transition: all 0.2s;
}
.btn-submit {
  background-color: #eb5e28 ;
  position: absolute;
  left:16px;
  bottom: 2vh;
  width: 90vw;
  border-radius: 3px;
  padding:0.5em 3em;
  border:0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight: bold;
  text-align:center;
}
.bottom-btn {
  position: absolute;
  bottom: 65px;
  right: 7vw;
}
.center-btn {
  margin-left: 25vw;
}
.btn-stripped {
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: 0px;
}
.btn-span-lg {
  margin: 0 auto;
  display: block;
  width: 80vw;
}
.btn-span-lg-bottom {
  display: block;
  width: 80vw;
  position: absolute;
  bottom: 65px;
  left: 40px;
}
.circle-btn {
  width: 75px;
  height: 75px;
  border: 2px solid var(--border);
  margin: 10px;
  border-radius: 50%;
  padding-bottom: 8px;
  padding-left: 8px;
  font-size: 40px;
  background-color: var(--accent);
  color: var(--icon);
}

.steps-btn-container {
  text-align: center;
}
.directions {
  position: relative;
  height: 35vh;
  overflow-y:auto;
}
.directions-scroll {
  position: relative;
  height: 35vh;
  overflow-y:auto;
}
.fade-end {
  background: linear-gradient(180deg,#403d3900,#403d3941,#403d39b2,#403d39);
  z-index: 1;
}
.guided-steps-title {
  color: var(--font-main);
  font-size: 32px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 20px;
  text-align: center;
}
.circles-container {
  color: #F5F9E9;
  margin: 15px 10px;
  width: 90vw;
  display: inline-flex;
  flex: none;
  overflow-x: auto;
}
.padding-circle {
  margin: 0px 5px;
}
.steps {
  height:80vh;
  overflow-y: auto;
}
.equip-card {
  position: relative;
  background-color: var(--accent);
  width: 90vw;
  height: fit-content;
  margin: 10px auto;
  border: 1px solid #251605;
  border-radius: 0.30em;
  box-shadow: 0px 3px 5px #6b573e;
} 
  .equip-card-body {
    margin: 5px 18px 5px 5px;
  }
.step-card {
  position: relative;
  background-color: var(--accent);
  width: 90vw;
  height: fit-content;
  margin: 10px auto;
  border: 1px solid #251605;
  border-radius: 0.30em;
  box-shadow: 0px 3px 5px #6b573e;
}
  .step-card-body {
    display: flex;
    margin: 5px 18px 5px 5px;
  }
    .step-num {
      font-size: 30px;
      margin-right: 5px;
    }
.cards-container {
  background-color: var(--font-main);
  border-radius: 0.30em;
  padding: 15px;
  margin: 5px;
}
.card-container {
  border-bottom: 1px solid #251605;
  padding: 10px;
}
.spaced-line-items {
  display: flex;
  justify-content: space-between;
}
.dotted-line {
  width: 50%;
  border-bottom: 1px dotted #251605;
  margin: 0px 0px 9px 10px;
}
.line-item-header {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1.5px;
}
.grinds {
  height: 90vh;
  overflow-y: auto;
}

.circles {
  display: flex;
  justify-content:space-around;
  width: 100%;
  color: #F5F9E9;
  margin-top: 30px;
}
.circle {
  border: 2px solid var(--border);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--font-main);
  color: var(--border);
  box-shadow: 4px 4px 4px var(--border) ;
  flex: none;
  font-weight: 600;
  font-size: 18px;
}
.circle-content {
  display: flex;
  justify-content: space-around;
  padding-top: 35px;
}

.circle-footer {
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
  margin-bottom: 10px;
  color: #F5F9E9;
}
.list-container {
  margin: 0px 24px;
}
.list-items > li {
  color: var(--accent);
  display: flex;
  justify-content: space-between;
}
.list-items > li > span {
  color: #F5F9E9;
  font-size: 90%;
}
.grinds {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 30px 20px;
  justify-content: space-around;
}
.method-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 50px 20px 90px 20px;
  padding-left: 8px;
}
 .grind-circle-content {
  object-fit: none;
  object-position: center -80px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  border: 2px solid var(--font-main);
  box-shadow: 5px 6px 5px var(--border);
 }
 .method-circle-content {
  object-fit: scale-down;
  background-color: var(--font-main);
  border-radius: 50%;
  width: 100px;
  height: 100px;
 }
 .background {
  object-fit:cover;
 }
 .method-circle {
  width: 140px;
  height: 140px;
  border: 2px solid #251605;
  border-radius: 50%;
  margin: 20px 15px 40px 15px;
 }
 .method-circle > h4 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: var(--font-main);
  text-transform: uppercase;
  margin-top: 5px;
 }
 .user-form-cont {
  margin-top: 10vh;
 }
 .profile-card {
  position: relative;
  background-color: #F5F9E9;
  border-radius: 0.60em;
  padding: 20px;
  margin: 20px 10px;
 }
  .profile-card-header {
    display: flex;
    margin-bottom: 20px;
  }
  .profile-card-header h1 {
    position: relative;
    left: 25px;
    top: 20px;
    font-size: 24px;
  }
  .profile-title {
    font-size: 18px;
    font-weight: 500;
    color: #A38560;
  }
  .profile-content {
    color: #251605;
    margin-left: 5px;
    font-size: 16px;
  }
  .profile-picture-lg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .profile-card p {
    font-family:'Roboto',sans-serif;
    border-bottom: 1px solid #251605;
  }
  .blur p {
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);;
  }
 .grind-container > h4 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: var(--font-main);
  text-transform: uppercase;
  margin-top: 20px;
 }
.navbar {
  display: flex;
  padding: 10px 15px;
  background-color: var(--background-main);
}
  .page-title {
    color: var(--font-main);
    text-transform: uppercase;
    font-size: 20px;
  }
  .nav-cta {
    position: absolute;
    right: 4vw;
    bottom: 8px;
    color: var(--icon);
    font-size: 35px;
  }
  .nav-fav {
    position: absolute;
    right: 18vw;
    bottom: 8px;
    color: var(--icon);
    font-size: 35px;
  }
  .nav-info {
   position: absolute;
   right: 14vw;
   color: #F5F9E9;
   font-size: 29px;
   bottom: 11px;
  }
.main-nav {
  padding: 10px;
  background-color: var(--background-main);
}
.nav-item {
  display: flex;
  color: var(--icon);
  flex-direction: column;
  padding: 0px;
  font-size: 30px;
  text-transform: uppercase;
  align-items: center;
}
.back-nav {
  width: auto;
  border: 1px solid black;
  border-radius: 10%;
  padding:4px 8px;
}
.bottom-cta {
  position: absolute;
  bottom: 30px;
  right: 20px;
}

.card {
  background-color: var(--font-main);
  margin: 15px;
  padding: 0px;
}
.card-delete {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: 0px;
}
.card-delete-btn {
  display: flex;
  font-size: 1.5em;
  margin: 5px;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: 0px;
  color: red;
}
.last-min {
  position: relative;
  bottom: 13px;
  left: 15px
}
.submit-prompt p {
  margin-top: 100px;
  text-align: center;
  font: 20px 'Roboto';
  letter-spacing: 2px;
  color: var(--font-main);
}
.directions-title h1 {
  margin-top: 20px;
  text-align: center;
  height: fit-content;
  font-size: 2em;
  color: var(--font-main);
}
.empty-content {
  text-align: center;
  font-size: 2em;
  color: var(--accent);
}
.empty-content p {
  color: var(--font-main);
}
  .empty-content-steps {
    text-align: center;
    font-size: 2em;
    padding-top: 30vh;
    color: var(--font-main);
  }
.settings-modal {
  background-color: var(--background-main);
  height: 10vh;
  padding: 0px;
  margin: 0;
}
.settings-container {
  width: fit-content;
  text-align: center;
  margin-top: 10vh;
}
.process-cta-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 25px 40px;
}
.profile-btn-cta {
 position: absolute;
 bottom: 10vh;
 left: 10vw
}
.form-box {
  background-color: transparent;
  border: none;
  width: 100%;
}

.stopwatch {
  margin-top: 4vh;
}
.circle-cont {
  position: relative;
  margin: auto;
  width: fit-content;
}
.progress {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #251605;
}
.progress-bar {
  background-color: var(--icon);
}
.progress-circle {
  position: absolute;
  background-color: var(--font-main);
  width: 225px;
  height: 225px;
  border-radius: 50%;
  top:12.5px;
  left: 12.5px;
}
.stopwatch-numbers {
  font-size: 2.5em;
  font-weight: 600;
  position: absolute;
  top:75px;
  left:65px;
}
.stopwatch-buttons {
  position: absolute;
  bottom:20px;
  left:60px;
}

.time-slider {
  margin: 20px 0px;
}
.recipe-card {
  position: relative;
  background-color: var(--font-main);
  margin: 15px;
  border: 2px solid var(--border);
  border-radius: 0.40em;
  padding: 10px 15px
}
.recipe-title {
  font-size: 20px;
}
.user-photo-small {
  width: 25px;
  border-radius: 50%;
  margin-right: 10px;
}
.logo  {
  width: 400px;
}
.logo-sm  {
  width: 40px;
}
.signIn-content {
  color: var(--font-main);
}
.signIn-content p {
  color: var(--font-main);
  font-size: 18px;
  padding: 20px 30px;
}
.recipe-equip-header h2 {
color: var(--font-main);
margin-left: 25vw;
margin-top: 3vh;
margin-bottom: 10px;
}
.color-fill {
  color: #eb5e28;
  fill: #eb5e28;
}
